.search {
    margin-top: 5rem;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    width: 80%;
    margin: auto;
    overflow: hidden;
}


.places {
    background: rgb(255, 95, 37);
    color: white;

}

.places div {
    border-left: 5px solid white;
    margin-left: 1rem;
    border-radius: 5px;
}

.places h3 {
    margin-left: 5px;
}

.search-box {
    margin-bottom: 3rem;
}

.search-suggestions div {
    display: flex;
    align-items: center;
    background: white;
    margin-bottom: .5rem;
    border-radius: .3rem;
}

.search-suggestions img {
    width: 50px;
    padding: 0 .5rem;
}

.search-suggestions div h4 {
    margin-left: 1rem;
}

.search-suggestions div div {
    display: flex;
    align-items: center;
    padding: 0 .5rem;
}

.search-suggestions div img {
    width: 30px;
}

.innerBox {
    min-width: 200px;
    height: fit-content;
    width: fit-content;
    background-color: rgb(231, 230, 230);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer .error {
    font-weight: bold;
    font-size: 0.875rem;
    color: #ff3300;
    text-align: center;
}

.footer button {
    outline: none;
    border: none;
    background-color: orangered;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width: 100%;
    transition: 100ms;
    cursor: pointer;
}

.footer button:disabled {
    background-color: gray !important;
}

.footer button:hover {
    background-color: rgb(204, 54, 0);
}

.footer p {
    font-weight: 700;
    color: #000;
}

.footer p span a {
    font-weight: bold;
    color: orangered;
    letter-spacing: 1px;
    font-size: 1rem;
    text-decoration: none;
}